*{
    font-family: 'Satoshi';
    margin: 0;
}
body{
    position: absolute;
    background: #F9F9F9;
}
header{
    display: flex;
}
.left-header{
    display: flex;
    margin-left: 165px;
    margin-top: 33.35px;
}
.left-header > img{
    height: 35.44791793823242px;
    width: 32.854164123535156px;
}
.left-header-text{
    font-family: 'Satoshi';
    display: flex;
    justify-items: center;
    align-items: left;
    flex-direction: column;
    margin-left: 18.46px;
}
.left-header-text > h1{
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}
.left-header-text > h2{
    color: #F2714B;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}
.right-header{
    font-family: Satoshi;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 660px;
    padding-top: 39px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.right-header > a{
    padding-right: 15px;
    color: #FF2D2D;
    text-decoration: none;
}
.part1-bg{
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 100%);
    border-radius: 16px;
    height: 540px;
    width: 1300px;
}
.part1{
    border-radius: 18px;
    background: url(imgs/part1-bg1.png);
    position: absolute;
    margin-top: 40px;
    height: 540px;
    width: 1300px;
    margin-left: 31px;
    margin-right: 49px;
}
.part1-left{
    width: 570px;
    position: relative;
    top: 65px;
    left: 129px;
    right: 548px;
}
.part1-right{
    position: relative;
    left: 890px;
    top: -436px;
    background: url(imgs/part1-bg2.png);
    background-repeat: no-repeat;
    height: 540px;
    width: 427px;
}
.part1-left > a{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FF520A;
    text-decoration: none;
    background-color: #FFE1D4;
    padding: 10px 24px;
    border-radius: 100px;
}
.part1-left > h1 > span{
    color: #FF520A;
}
.part1-left > h1{
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
}
.part1-left > p{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 42px;

}
.part1-left > .part1-red-button{
    border-radius: 8px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    background-color: #FF2D2D;
}
.part1-left > .part1-red-button > img{
    margin-left: 12.3px;
}
.part1-left-seals{
    justify-content: center;
    align-items: center;
    width: 576px;
    margin-top: 26px;
}
.part1-left-seals > p{
    color: #000000;
    opacity: 0.7;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-left: 10.5px;
    margin-right: 24px;
    display: inline;
}
.part2{
    position: relative;
    width: 1063px;
    height: 474px;
    right: 188px;
    left: 188px;
    top: 655px;
}
.part2 > img{
    border-radius: 4px;
}
.part3{
    position: absolute;
    height: 533px;
    width: 580px;
    top: 1430px;
    left: 141px;
}
.part3-left{
    height: 515px;
}
.part3-left1{
    position: relative;
}
.part3-left2{
    position: relative;
    top: -640px;
    right: 34px;
}
.part3-right{
    position: relative;
    left: 610px;
    top: -500px;
}
.part3-right-tittle{
    padding-right: 60px;
    width: 520px;
    margin-bottom: 28px;
}
.part3-right-tittle > h1 > span{
    color: #FF520A;
}
.frame1, .frame2, .frame3, .frame4, .frame5, .frame6, .frame7, .frame8, .frame9, .frame10, .frame11, .frame12{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.8;
    gap: 11px;
    display: flex;
    margin-bottom: 21px;
}